%section.our-services
  .container
    .row
      .col-md-6.wrapper-1
        = link_to image_tag(@railscast.image_url), @railscast.url
      .col-md-6.wrapper-1
        %h5.subpage-title= @railscast.name
        %p= @railscast.description
        %p
          %b Subscription Required?:
          = (@railscast.pro or @railscast.revised) ? "Yes" : "No"

%section.colored-wrapper
  .container
    .row
      .col-md-12.wrapper-1
        %h5.subpage-title Tips
      #accordion.panel-group
        - @railscast.treasures.each do |treasure|
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                =link_to treasure.description, treasure, class: 'accordion-toggle.collapsed', data: { toggle: 'collapse', parent: '#accordion', href:"#collapse#{treasure.id}"}
            .collapse.panel-collapse.collapse{id: "collapse#{treasure.id}"}
              .panel-body
                %h5 Tags
                = tags_for_treasure treasure

    = link_to 'Add Tip', new_treasure_path(railscast_id: @railscast.id), class: 'btn btn-success'
