%section.our-services
  .container
    .row
      .col-md-6.wrapper-1
        = link_to image_tag(@railscast.image_url), @railscast.url
      .col-md-6.wrapper-1
        %h5.subpage-title= @railscast.name
        %p= @railscast.description
        %p
          %b Subscription Required?:
          = (@railscast.pro or @railscast.revised) ? "Yes" : "No"

%section.colored-wrapper
  .container
    .row
      .col-md-12.wrapper-1
        %h5.subpage-title Tips
        .widget.categories
          %ul.widget-list
            - @railscast.treasures.each do |treasure|
              %li
                = link_to treasure.description, treasure
                = tags_for_treasure treasure
    - if current_user
      = link_to 'Add Tip', new_treasure_path(railscast_id: @railscast.id), class: 'btn btn-success'
