%p#notice= notice

%p
  %b Url:
  = @railscast.url
%p
  %b Name:
  = @railscast.name
%p
  %b Description:
  = @railscast.description

= link_to 'Edit', edit_railscast_path(@railscast)
\|
= link_to 'Back', railscasts_path
