%section.page-title-wrapper
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.page-title
        %h4 FAQ
      .col-xs-6.hidden-xs.breadcrumb-wrapper
        %ol.breadcrumb.pull-right
          %li
            = link_to 'Home', root_path
          %li.active FAQ

%section
  .container.faq
    .col-md-9
      %h5.subpage-title What is NOT RailsCasts Tips?
      %p
        RailsCastsTips is not a clone of
        = link_to "Ryan Bates's Railscasts", 'http://www.railscasts.com'

      %hr

      %h5.subpage-title What is RailsCasts Tips?
      %p
        RailsCasts Tips is a platform intended to serve the Ruby on Rails community as a repository of hidden information beneath the (awesome)
        = link_to "RailsCasts", 'http://www.railscasts.com'
        produced by
        = link_to "Ryan Bates.", 'https://github.com/ryanb'
      %p
        How many times have you said something like this?
      %blockquote
        %p
          I saw this awesome feature about
          %i some obscure theme
          last week in a RailsCast, but I can't remember in which one.
      %p
        We are talking about a RailsCast that covers an specific subject but in the process exposes
        %b small tips and tricks
        that could make your day. Our goal is to collect all this information in a single resource.

      %hr

      %h5.subpage-title What search parameters can I use?
      %p
        You can search tips by
        %b name
        %b tag
        and
        %b Railscast number.

      %hr

      %h5.subpage-title Why my search returns empty?
      %p
        Because we couldn't find a tip with the tag, description or number you provided.

      %hr

      %h5.subpage-title Searching by Railscast number is always returning empty. What is wrong?
      %p
        Probably no one has submitted a tip for that RailsCast yet.

      %hr

      %h5.subpage-title I know a tip or two and they are not in this page. Can I share them?
      %p
        %b Of course you can!
        In fact, we encourage you to do so.

      %hr

      %h5.subpage-title Who can create a new RailsCast tip?
      %p
        %b Anyone
        with a
        %i.icon-github-sign
        %b github account
        or a
        = link_to 'guest user.', tryit_path
    .col-md-3
      = render "treasures/side_bar"
