- content_for :main_search do
  .container-fluid
    .jumbotron.search
      %h1 RailsCasts' best kept secrets
      %p Try searching for a hidden topic
      .row
        .col-lg-6.col-lg-offset-3
          = form_tag  treasures_path, method: :get do
            .input-group
              = text_field_tag :query, params[:query], class: 'form-control'
              %span.input-group-btn
                = submit_tag "Search!", name: nil, class: "btn btn-default"

%section.colored_wrapper
  .row
    - @treasures.each do |treasure|
      .col-md-4
        %center
          = link_to image_tag(treasure.railscast.image_url), treasure
        .caption
          %h4= treasure.railscast.name
          %p= treasure.description
          %p
            = link_to treasure, class: 'btn btn-warning btn-sm btn-block' do
              %i.icon-play-sign
              Watch treasure
