- content_for :main_search do
  .container-fluid
    .jumbotron.search
      %h1 RailsCasts extra knowledge
      %p Try searching for a tip
      .row
        .col-lg-6.col-lg-offset-3
          = form_tag  treasures_path, method: :get do
            .input-group
              = text_field_tag :query, params[:query], class: 'form-control'
              %span.input-group-btn
                = submit_tag "Search!", name: nil, class: "btn btn-default"
      %h1 or
      %h2 if you want to share a useful tip on a RailsCasts
      = link_to new_treasure_path, class: 'btn btn-lg btn-success' do
        %i.icon-plus
        Add A New Tip
%section.colored_wrapper
  .container
    .row
      = render 'featured_box', treasure: @treasures[0], title: 'Most Voted'
      = render 'featured_box', treasure: @treasures[1], title: 'Most Tagged'
      = render 'featured_box', treasure: @treasures[2], title: 'Most Recent'
