= form_for @treasure do |f|
  - if @treasure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@treasure.errors.count, "error")} prohibited this treasure from being saved:"
      %ul
        - @treasure.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :railscast
    = f.collection_select :railscast_id, @railscasts, :id, :name, { prompt: 'Select Railscast'}, style: "width:100%"
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :time
    = f.time_select :time, options: { discard_hour: true, include_seconds: true }, html_options: { class: 'form-control' }
  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, style: "width:100%", data: { tags: "#{available_tags}" }
  .actions
    .pull-right
      = f.submit 'Save', class: 'btn btn-flat flat-inverse btn-rounded'
      = link_to 'Cancel', :back , class: 'btn btn-warning'
