= form_for @treasure do |f|
  - if @treasure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@treasure.errors.count, "error")} prohibited this treasure from being saved:"
      %ul
        - @treasure.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :railscast
    = f.collection_select :railscast_id, @railscasts, :id, :name, { prompt: 'Select Railscast'}
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :time
    = f.time_select :time, discard_hour: true, include_seconds: true 
  .field
    = f.label :tag_list
    = f.text_field :tag_list 
  .actions
    = f.submit 'Save'
