= form_for @treasure do |f|
  - if @treasure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@treasure.errors.count, "error")} prohibited this treasure from being saved:"
      %ul
        - @treasure.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
