%h1 Listing treasures

%table
  %tr
    %th Description
    %th
    %th
    %th

  - @treasures.each do |treasure|
    %tr
      %td= treasure.description
      %td= link_to 'Show', treasure
      %td= link_to 'Edit', edit_treasure_path(treasure)
      %td= link_to 'Destroy', treasure, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Treasure', new_treasure_path
