%h4.subpage-title Listing treasures

- @treasures.each_slice(3) do |treasures|
  .row
    - treasures.each do |treasure|
      .col-md-3
        .thumbnail
          = image_tag treasure.railscast.image_url
          .caption
            %h4= treasure.railscast.name
            %p= treasure.description
            %p
              = link_to treasure, class: 'btn btn-warning btn-sm btn-block' do
                %i.icon-play-sign
                Watch treasure


= link_to 'New Treasure', new_treasure_path
