%section
  .container
    %h4.subpage-title
      = railscast_display_name @treasure.railscast

    .row
      .col-md-12
        %video#railscast_video.video-js.vjs-default-skin{ controls: "", poster: "#{image_path('video/poster.jpg')}", :preload => "auto", "data-setup" => '{"example_option":true}', width: "960", height: '600', "data-time" => "#{@treasure.at_second}" }
          - @treasure.railscast.video_urls.each_with_index do |video_url, i|
            %source{ src: "#{video_url}", :type => "video/#{ Railscast::VIDEO_FORMATS[i] }"}

    .row
      .col-md-8.item-description.wrapper-1
        .row
          .col-md-12
            %h5.subpage-title
              = @treasure.description
        .row
          .col-md-12
            %h5 Tags
            = tags_for_treasure @treasure

      .col-md-4.item-details.wrapper-1
        / %h5.subpage-title Details
        %ul.project-details-list
          %li
            %h6 Found at
            .project-terms
              = found_at @treasure.time
          %li
            %h6 Link to episode
            .project-terms
              = link_to @treasure.railscast.name, @treasure.railscast.url, target: 'blank'

          %li
            %h6 Share via twitter
            .project-terms
              = render 'twitter_share_button', treasure: @treasure
          %li
            %h6 Number of votes
            .project-terms
              - if current_user && current_user.can_vote_for?(@treasure)
                = link_to vote_treasure_path(@treasure, value: 1), method: "post", class: 'btn btn-link' do
                  %i.icon-thumbs-up-alt
                  = @treasure.votes
              - else
                %i.icon-thumbs-up-alt
                = @treasure.votes

    - if Treasure.related_treasures(@treasure).count > 0
      .panel.panel-default
        .panel-heading Other treasures found in this Railscast

        %table.table.table-hover
          %thead
            %tr
              %th Tags
              %th Description
              %th Found at
          %tbody
            - Treasure.related_treasures(@treasure).each do |treasure|
              %tr
                %td= treasure.tag_list
                %td= treasure.description
                %td
                  = link_to found_at(treasure.time), treasure

    .actions
      .pull-right
        - if current_user
          = link_to 'Edit', edit_treasure_path(@treasure), class: 'btn btn-flat flat-inverse btn-rounded'
        = link_to 'Back', treasures_path, class: 'btn btn-warning'
