!!!
%html
  %head
    %title R13Team376
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrap
      %header.header
        %nav.navbar.navbar-default{:role => "navigation"}
          .container
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path, class: 'navbar-brand' do
                Rails
                %span Casts.
            / Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse.navbar-ex1-collapse
              %ul.nav.navbar-nav
                %li.active
                  = link_to 'Home', '#'
                %li
                  = link_to 'Videos', '#'
                %li
                  = link_to 'FAQ', '#'
                - if current_user
                  %li= "Hello #{current_user.username}!"
                  %li= link_to "Sign in with Github", "/auth/github" if current_user.guest
                  %li= link_to 'Sign out', signout_path
                - else
                  %li
                    = link_to 'Try it!', tryit_path
                  %li
                    = link_to "Sign in with Github", "/auth/github"

    = yield :main_search

    %section
      .container
        = yield

    %footer.footer-1
      .container
        .row
          .col-md-4
            .widget.about-us
              %span.footer-brand
                Rails
                %span Casts.
              %p Lorem ipsum dolor sit amet, no consequat ullamcorper nec, te commune constituto intellegebat eam. Soleat populo id nec. Est in altera vocibus, et vim iudico adolescens, mel no discere mediocritatem. Nec ei sale honestatis, graeco melius eruditi qui et, id nam mucius maiorum. Pri diceret ornatus cu, dico quas aliquando vix ea, vix impetus invidunt honestatis id. An his everti animal.
            / /.about-us
          / /.col-md-3
          .col-md-4
            .widget.popular-posts
              %h5.subpage-title Latest Tweets
              %ul#tweets.recent-posts
            / /.popular-posts
          / /.col-md-3
          .col-md-4
            .widget.tagcloud
              %h5.subpage-title Tags
              = tag_cloud
            / /.tagcloud
        / /.row
      / /.container
    / /.footer-1
    %footer.footer-2
      .container
        .row
          .col-xs-6.footer-2-info-wrapper
            %p
              Railscasts' best kept secrets © 2013.
              %br
              Powered by
              = link_to 'LogicalBricks Solutions', 'http://logicalbricks.com'
          / /.footer-2-info
          .col-xs-6.social-link-wrapper
            %ul.social-links
              %li
                %a{:href => "#"}
                  %i.icon-facebook
              %li
                %a{:href => "#"}
                  %i.icon-google-plus
              %li
                %a{:href => "#"}
                  %i.icon-twitter
              %li
                %a{:href => "#"}
                  %i.icon-pinterest
              %li
                %a{:href => "#"}
                  %i.icon-linkedin
              %li
                %a{:href => "#"}
                  %i.icon-dribbble
          / /.social-links
        / /.row
      / /.container
    / /.footer-2
