!!!
%html
  %head
    %title RailsCasts' tips
    = favicon_link_tag
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrap
      %header.header
        %nav.navbar.navbar-default{:role => "navigation"}
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path, class: 'navbar-brand' do
                = image_tag 'logo.png'
                Rails
                %span Casts.
            .collapse.navbar-collapse.navbar-ex1-collapse
              %ul.nav.navbar-nav
                %li{ class: (controller.kind_of?(HomeController) and action_name == 'index') ? 'active' : '' }
                  = link_to 'Home', root_path
                %li{ class: controller.kind_of?(TreasuresController) ? 'active' : '' }
                  = link_to 'Tips', treasures_path
                - if current_user and current_user.admin?
                  %li{ class: controller.kind_of?(RailscastsController) ? 'active' : '' }
                    = link_to 'RailsCasts', railscasts_path
                %li{ class: (controller.kind_of?(HomeController) and action_name == 'faq') ? 'active' : '' }
                  = link_to 'FAQ', faq_path
                %li.dropdown
                  = link_to 'Login', '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }
                  %ul.dropdown-menu
                    - if current_user
                      %li= link_to "Hi #{current_user.username}!", "https://github.com/#{current_user.username}"
                      - if current_user.guest?
                        %li
                          = link_to "/auth/github" do
                            %i.icon-github
                            Github
                      %li= link_to 'Logout', signout_path
                    - else
                      %li
                        = link_to 'Try it!', tryit_path
                      %li
                        = link_to "/auth/github" do
                          %i.icon-github
                          Github
    - if notice or alert
      - if notice
        .container
          .alert.alert-success.fade.in
            %a.close{href: '#', data:{ dismiss:"alert" }, 'aria-hidden'=> true} &times;
            = notice
      - if alert
        %section
          .container
            .alert.alert-danger.fade.in
              %a.close{href: '#', data:{ dismiss:"alert" }, 'aria-hidden'=> true} &times;
              = alert

    = yield :main_search

    = yield

    %footer.footer-1
      .container
        .row
          .col-md-4
            .widget.about-us
              %span.footer-brand
                Rails
                %span Casts Tips.
              %p Many of the Rails developers have learned something with the Ryan Bates' RailsCasts, but one screencast has more knowledge that the title describe. This project is looking for contain this extra knowledge. And this application is a way to say "Thank you Ryan".
          .col-md-4
            - unless controller_name == 'treasures' and action_name == 'show'
              .widget.popular-posts
                %h5.subpage-title Latest Tweets
                %ul#tweets.recent-posts
          .col-md-4
            .widget.tagcloud
              %h5.subpage-title Tags
              = tag_cloud
    %footer.footer-2
      .container
        .row
          .col-xs-6.footer-2-info-wrapper
            %p
              RailsCasts Tips© 2013.
              %br
              &copy;
              = link_to 'LogicalBricks Solutions', 'http://logicalbricks.com'
              %br
              = link_to image_tag('rails-rumble-badge-2013.png', width: '140px', heigth: '54px'), 'http://railsrumble.com', alt: 'Rails Rumble'
          .col-xs-6.social-link-wrapper
            %ul.social-links
              %li
                %a{:href => 'https://github.com/LogicalBricks'}
                  %i.icon-github
              %li
                %a{:href => 'https://twitter.com/RailsCastsTips'}
                  %i.icon-twitter

    :javascript
      var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
      rumbleBannerBackgroundColor = "#161616";
      rumbleBannerTextColor = "#ff950e";
      rumbleBannerLinkColor = "#ffffff";
  
    = javascript_include_tag "http://s0.railsrumble.com/banner.js"                    
