!!!
%html
  %head
    %title R13Team376
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrap
      %header.header
        %nav.navbar.navbar-default{:role => "navigation"}
          .container
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path, class: 'navbar-brand' do
                Rails
                %span Casts.
            / Collect the nav links, forms, and other content for toggling
            .collapse.navbar-collapse.navbar-ex1-collapse
              %ul.nav.navbar-nav
                %li.active
                  = link_to 'Home', '#'
                %li
                  = link_to 'RailsCasts', railscasts_path
                %li
                  = link_to 'FAQ', '#'
                - if current_user
                  %li= "Hello #{current_user.username}!"
                  %li= link_to "Sign in with Github", "/auth/github" if current_user.guest
                  %li= link_to 'Sign out', signout_path
                - else
                  %li
                    = link_to 'Try it!', tryit_path
                  %li
                    = link_to "Sign in with Github", "/auth/github"

    = yield :main_search

    %section
      .container
        = yield

    %footer.footer-1
      .container
        .row
          .col-md-4
            .widget.about-us
              %span.footer-brand
                Rails
                %span Casts Tips.
              %p Many of the Rails developers have learned something with the Ryan Bates' RailsCasts, but one screencast has more knowledge that the title describe. This project is looking for contain this extra knowledge. And this application is a way to say "Thank you Ryan".
          .col-md-4
            - unless controller_name == 'treasures' and action_name == 'show'
              .widget.popular-posts
                %h5.subpage-title Latest Tweets
                %ul#tweets.recent-posts
          .col-md-4
            .widget.tagcloud
              %h5.subpage-title Tags
              = tag_cloud
    %footer.footer-2
      .container
        .row
          .col-xs-6.footer-2-info-wrapper
            %p
              RailsCasts' best kept secrets © 2013.
              %br
              Built for 2013
              = link_to 'Rails Rumble', 'http://railsrumble.com'
              %br
              &copy;
              = link_to 'LogicalBricks Solutions', 'http://logicalbricks.com'
          .col-xs-6.social-link-wrapper
            %ul.social-links
              %li
                %a{:href => "#"}
                  %i.icon-facebook
              %li
                %a{:href => "#"}
                  %i.icon-google-plus
              %li
                %a{:href => "#"}
                  %i.icon-twitter
              %li
                %a{:href => "#"}
                  %i.icon-pinterest
              %li
                %a{:href => "#"}
                  %i.icon-linkedin
              %li
                %a{:href => "#"}
                  %i.icon-dribbble
